.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.HeaderAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;

    .TextHeader {
        font-size: 30px;
        font-weight: 600;
        margin-left: 210px;
    }

    .LogoutButton {
        background-color: #dc3545;
        border: none;
        color: white;
        font-weight: 600;
        padding: 12px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        max-width: 200px;
        transition: background-color 0.2s ease-in-out;
        margin-left: 200px;

        &:hover {
            background-color: #c82333;
        }
    }
}

.MainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.Users {
    width: 20%;
    margin-right: 20px;
}

.Chat {
    width: 50%;
    margin-right: 360px;
}